<% include partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header">
		<h2><%= blog.title %></h2>
	</div>
	<div class="item">
		<img class="ui centered rounded image" src="<%= blog.image %>">
		<div class="content">
			<%= blog.date.toDateString() %></div>
		<div class="description">
			<p><%- blog.body%></p>
		</div>
		<form action="/blogs/<%=blogs._id%>?_method=DELETE" method="POST" id="del">
			<button class="ui red basic button">Delete</button>
			<button class="ui green basic button">Edit</button>
		</form>
	</div>
</div>
<% include partials/footer %> 